@import './base.css';
@import './icon.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  font-weight: normal;
}
body {
  height: 100vh;
  background-image: linear-gradient(
    45deg,
    #609966 -50%,
    #fff 30% 50%,
    #609966 250%
  );
  background-repeat: no-repeat;
  background-size: cover;
}

a{
  color: #333;
}